<a class="transition-all block text-white font-semibold mx-2 px-4 py-2 rounded-full  <%= active ? " bg-[#ED2553] hover:bg-[#e93d65]"
    : "hover:bg-[#ED2553]" %> "
    href="<%= url %> ">
        <%= name %>
</a>